<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HackerNewsFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HackerNewsFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HackerNewsFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>HackerNewsFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6825D6C92F4B486900079C85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6825D6D32F4B486900079C85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E965DD2EFAC76A006095E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E965E82EFAC76A006095E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E966292F02C422006095E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68FB9E3C2F3E751A00B7A262</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
